Data Types

In [1]:
x=5
print(type(x))

<class 'int'>

In [6]:
x="hello world"
print(type(x))

<class 'str'>

In [7]:
x=20.5
print(type(x))

<class 'float'>

In [8]:
x=["apple","banana","cherry"]
print(type(x))

<class 'list'>

In [10]:
x=("apple","bannana","chery")
print(type(x))

<class 'tuple'>

In [11]:
x={"name":"john","age":36}
print(type(x))

<class 'dict'>

In [14]:
x=True
print (type(x))

<class 'bool'>

Exercise on numbers

In [15]:
x=5
x=(float(x))
print(x)

5.0

In [16]:
x="hello world"
print(len(x))

11

In [19]:
txt="hello world"
print(txt[0])

h

In [20]:
txt="hello world"
print(txt[2:5:1])

llo

In [28]:
txt=" hello world "
print(txt.strip())

hello world

In [23]:
txt="hello world"
print(txt.upper())

HELLO WORLD

In [24]:
print(txt.lower())

hello world

In [86]:
print(txt.replace("h","j"))

 jello world

In [34]:
name="mahmoud"
age=23
course="machine learning"
output_text=f"my name is {name},and i'm {age} years old,and engaged in {course}."
print(output_text)

my name is mahmoud,and i'm 23 years old,and engaged in machine learning.

exercise on booleans

In [37]:
print(10>9)

True

In [38]:
print(10==9)

False

In [39]:
print(10<9)

False

In [87]:
print("twinkle, twinkle,little,star\n\thow i wonder what you are!\n\t\tup above the world so high\n\t\tlike a dimond in the sky\ntwinkle twinkle little star \n\thow i wonder what you are ")

twinkle, twinkle,little,star
	how i wonder what you are!
		up above the world so high
		like a dimond in the sky
twinkle twinkle little star
	how i wonder what you are

exercise 1

In [53]:
first_name=input("enter your first name")
last_name=input("enter your last name")
print(last_name,first_name)

enter your first namemahmoud
enter your last nameessam
essam mahmoud

exercise 2

In [64]:
r=1.1
area=3.14*r**2
print(area)

3.7994000000000008

In [71]:
import math
radius=float(input("enter the radius"))
area=math.pi*radius**2
print(area)

enter the radius1.1
3.8013271108436504

exercise 3

In [72]:
filename=input("enter the file name")
f_exts=filename.split(".")
print(f_exts[-1])

enter the file namemahmoud.python
python

exercise 4

In [90]:
x=("amit")
tuble_value=tuple(x)
print(tuble_value)

list_value=list(x)
print(list_value)

print(x.replace("t","k"))

string_value=str(list_value)
print(string_value)
print(type(string_value))

('a', 'm', 'i', 't')
['a', 'm', 'i', 't']
amik
['a', 'm', 'i', 't']
<class 'str'>

exercise 5

In [103]:
color_list=["Red","Green","White","Black"]
first_color=color_list[0]
last_color=color_list[-1]
print(first_color,last_color)

Red Black

exercise 6

In [117]:
name1="https://www.google.com/"
name2="aimt4536@gmail.com"
print(name1.startswith("https"))
print(name2.endswith(".com"))

True
True